<header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom bg-dark">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 text-light text-decoration-none">      
        <span class="fs-3">Material Query Engine</span>
    </a>    
</header>
