<main class="container-fluid px-5">
  <div class="row">
    <div class="col-md-9">
      <form class="row" action="#">        
        <div class="col-md-10">
          <input id="search-input" type="text" class="form-control" id="search-input"
            placeholder="Enter material formula(CaSi2) or the material id (mp-862).">
        </div>
        <div class="col-md-2 d-flex justify-content-start">          
            <input id="search-button" class="btn btn-primary" type="button" value="Search"
              onclick="search()"
            >          
        </div>
      </form>
    </div>

    <div class="col-md-3 d-flex justify-content-end">
      <button type="button" class="btn btn-success" onclick="downloadJSON();">
        <i class="fas fa-download"></i>
        Download JSON
      </button>
    </div>
  </div>

  <br />

  <div class="row">
    <table id="materials-table" class="table table-sm table-bordered table-hover">
      <thead>
        <tr>
          <th>SN</th>
          <th>ID</th>
          <th>Formula</th>
          <th>Symprec</th>
          <th>Source</th>
          <th>Symbol</th>
          <th>Number</th>
          <th>Point Group</th>
          <th>Crystal System</th>
          <th>Hall</th>
          <th>Tags</th>
          <th>Density</th>
        </tr>
      </thead>
      <tbody>          
      </tbody>
    </table>
  </div>
</main>
